MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=000000
MYSQL_DATABASE=quantvision
MYSQL_CHARSET=utf8mb4
APP_PORT=8001
STARTUP_DOWNLOAD_ENABLED=false
FRONTEND_DEV_URL=http://localhost:5173
